# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
*.env

#ignore debug-files
settings.json            

# Ignore virtual environment folders
venv/
env/

# Ignore IDE specific folders
.vscode/
.idea/

# Ignore log files
*.log

# Ignore other specific folders
node_modules/
dist/
build/
old script/

#Ignored files in data folder
Scarlet_loot_table_scrape.json
Scarlet_loot_table_G.json
softres_import.csv
loot_import.txt
raid_data.json
raid_data copy.json
softres_data.json
softres_data copy.json
data/backups/
