# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
*.env

#ignore debug-files
settings.json

# Ignore virtual environment folders
venv/
env/

# Ignore IDE specific folders
.vscode/
.idea/

# Ignore log files
*.log

# Ignore other specific folders
node_modules/
dist/
build/

#Ignored data storeage
softres_import.csv
loot_import.txt
raid_data.json
so
softres_data.json
